body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: inherit;
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100px;
}

header h1, h2 {
    margin: 15px 0 0 0;
}

header h1 {
    font-size: 1.75em;
}

header h2 {
    font-size: 1em;
}

figure {
    margin: 5% auto auto auto;
    width: min-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}


#image {
    
    margin-left: auto;
    margin-right: auto;
    max-width: min-content;
    height: auto;
}
figcaption {
    font-size: 0.75em;
    margin-top: 0.5em;
    background-color: white;
    z-index: 1;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tribute-link {
    margin-left: auto;
    margin-right: auto;
    align-self: baseline;
}